@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Custom variables goes here
// @import 'https://fonts.googleapis.com/css2?family=Itim&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:wght@300;400;500;700;800&display=swap';

// $body-bg: #343645;
$font-family-base: 'Open Sans';

$headings-font-family: 'Itim';


$theme-colors: (
	'primary': #ffe647,
	'secondary': #343645,
	'warning': #ff026b,
	'info': #ccc,
	'gray-100': #aaa,
	'gray-400': #333,
	'gray-700': #111
);

$accordion-color: #ffe647;

$border-color: black;
$card-border-color: black;

@import '~bootstrap/scss/bootstrap.scss';
